@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  汎用パーツ
// ---------------------------------------------

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

// レスポンシブ table　表
table {
  width: 100%;

  @include max-mq {
    &.table {
      display: block;

      tbody,
      tr,
      th,
      td {
        box-sizing: border-box;
        display: block;
        width: 100% !important;
      }
    }
  }
}

// SPの時に邪魔されたときの対処コード
// table tbody {
//   display: table-row-group !important;
//   width: auto !important;
// }

// table tr {
//   display: table-row !important;
//   width: auto !important;
// }

// table th, table td {
//   display: table-cell !important;
//   width: auto !important;
// }


.bold {
  // font-weight: boldのとき、文字がにじんで見える場合はこのclassで太字にする（YuGothic Midiumを使わないようにする）
  font-family:
    "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "YuGothic",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  font-weight: bold;
}

.cv_button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 0;
  border-radius: 1000px;
  transition: transform 0.2s ease;
  animation: cv-pulse 2.5s infinite ease-in-out;

  &::after {
    position: absolute;
    top: -100%;
    left: -150%;
    width: 300px;
    height: 300%;
    content: "";
    background: -webkit-linear-gradient(left, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 80%) 100%);
    mix-blend-mode: overlay;
    transform: rotate(25deg);
    animation: cv-reflect-ultra 3.5s infinite ease-in-out;
  }
}

@keyframes cv-reflect-ultra {
  0% {
    left: -150%;
    opacity: 0;
  }

  10% {
    opacity: 1; /* 動き出しでパッと現れる */
  }

  25% {
    left: 150%;
    opacity: 1;
  }

  35% {
    left: 150%;
    opacity: 0; /* 通り過ぎたら消す */
  }

  100% {
    left: 150%;
    opacity: 0;
  }
}
