@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.mv {
  img {
    width: 100%;
  }
}

.lead {
  color: #fff;
  background: #1352c3;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  // .lead--inner
  &--inner {
    max-width: 1000px;
    margin: 0 auto 30px;
    background: #fff;

    h3 {
      padding: 10px 30px;
      font-size: var(--fz30);
      font-weight: 800;
      text-align: center;
      background: #002958;
    }

    @include max-mq {
      h3 {
        font-size: var(--fz25);
      }
    }
  }

  // .lead--txt
  &--txt {
    padding: 60px;
    box-shadow: 0 0 20px 0 #fff;

    p {
      margin-bottom: 30px;
      font-size: var(--fz23);
      font-weight: 800;
      line-height: 1.8;
      color: #02479d;
      text-align: center;
    }


    span {
      padding: 0 10px;
      font-size: var(--fz25);
      font-weight: 800;
      color: #f00;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    }

    @include max-mq {
      padding: 30px;
    }
  }

  // lead--supplement
  &--supplement {
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;

    &.-sm {
      font-size: var(--fz14);
    }
  }

  @include max-mq {
    .header--btns {
      flex-direction: column;
      align-items: center;
    }
  }
}

.sign {
  padding: 120px 0 100px;

  // .sign--catch
  &--catch {
    display: block;
    width: 380px;
    padding: 15px 0;
    margin: auto;
    font-size: var(--fz25);
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: #f06;
    border-radius: 1000px;

    @include max-mq {
      width: 300px;
      font-size: var(--fz20);
    }
  }

  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 800;
    color: #004ba6;
    text-align: center;

    span {
      padding: 0 10px;
      font-size: var(--fz45);
      font-weight: 800;
      color: #004ba6;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    }
  }

  // .sign--list
  &--list {
    position: relative;
    box-sizing: border-box;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    font-size: var(--fz23);
    background: #fff;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 30%);

    li {
      position: relative;
      padding: 0 0 5px 40px;
      margin-bottom: 15px;
      border-bottom: 1px solid #b5b5b5;

      &::before {
        position: absolute;
        top: 47%;
        left: 0;
        display: inline-block;
        width: 27px;
        height: 27px;
        content: "";
        background: url(../airconimg/icon_check.png) no-repeat center center /contain;
        transform: translateY(-50%);
      }
    }

    span {
      color: #f00;
    }

    &::before {
      position: absolute;
      right: -50px;
      bottom: -100px;
      z-index: 1;
      display: inline-block;
      width: 247px;
      height: 227px;
      content: "";
      background: url(../airconimg/sign_person.png) no-repeat center center / contain;
    }

    @media (width <= 1280px) {
      &::before {
        right: auto;
        bottom: -200px;
        left: 50%;
        width: 247px;
        height: 227px;
        transform: translateX(-50%);
      }
    }

    @include max-mq {
      font-size: var(--fz18);

      &::before {
        bottom: -100px;
        width: 160px;
        height: 140px;
      }
    }
  }

  @media (width <= 1280px) {
    padding: 120px 0 200px;
  }

  @include max-mq {
    padding: 80px 0 100px;

    h2 {
      margin-bottom: 40px;
      font-size: var(--fz30);

      span {
        font-size: var(--fz35);
      }
    }
  }
}

.cvarea {
  padding: 80px 0 0;

  .contents {
    position: relative;
  }

  .header--btns {
    position: absolute;
    bottom: 16%;
    left: 8%;
  }

  // cvarea--bg
  &--bg {
    width: 100%;

    @include max-mq {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  @media (width <= 1280px) {
    .header--btns {
      bottom: 10%;
      left: 5%;
    }
  }

  @media (width <= 1024px) {
    .header--btns {
      bottom: 0%;
    }
  }

  @include max-mq {
    padding: 60px 0;

    .header--btns {
      position: relative;
      left: auto;
      flex-direction: column;
      align-items: center;
    }
  }
}

.select {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #004ba6;
    text-align: center;

    img {
      vertical-align: baseline;
    }

    span {
      display: inline-block;
      width: 80px;
      height: 80px;
      font-size: var(--fz65);
      line-height: 1.2;
      color: #fff700;
      text-align: center;
      background: #004ba6;
      border-radius: 50%;
    }
  }

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    counter-reset: num; /* カウンターを初期化 */

    img {
      width: 100%;
      object-fit: cover;
    }

    p {
      padding: 15px;
    }
  }

  h3 {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #fff;
    counter-increment: num;
    background: #004ba6;

    &::before {
      position: relative;
      top: -3px;
      padding: 8px;
      margin-right: 10px;
      font-size: 16px;
      font-weight: 900;
      color: #004ba6;
      content: "POINT" counter(num, decimal-leading-zero);
      background: #fff700;
      border-radius: 5px;
    }
  }

  .contents {
    width: min(900px, 100%);
  }
}

.case {
  background: #fffee4;

  .sign--catch {
    width: fit-content;
    padding: 15px 30px;
    border: 3px solid #fff;
  }

  // .case--item
  &--item {
    max-width: 1150px;
    margin: auto;
    background: #fff;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 40%);

    &:not(:last-of-type) {
      margin-bottom: 80px;
    }

    h3 {
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 30px;
      font-size: var(--fz30);
      font-weight: 800;
      color: #fff700;
      text-align: center;
      background: #0675f3;
    }

    h3 + p {
      margin-bottom: 40px;
      font-size: var(--fz20);
      text-align: center;
    }
  }

  // .case--inner
  &--inner {
    width: min(1100px, 100%);
    padding: 0 min(4vw, 25px) 60px;
    margin: auto;

    > p {
      margin-bottom: 40px;
      text-align: center;
    }
  }

  // .case--comparison
  &--comparison {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 80px;

    p {
      font-size: var(--fz23);
      text-align: center;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      border: 3rem solid transparent;
      border-left: 5rem solid #004ba6;
      transform: translate(-25%, -50%);
    }
  }

  // .case--before
  &--before {
    box-sizing: border-box;
    padding: 31px;
    margin: auto;
    background: #fff;
    border: 4px solid #007bf8;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    p {
      color: #fff;
      background: #007bf8;
      border-radius: 1000px;
    }

    img {
      margin-bottom: 15px;
    }
  }

  // .case--after
  &--after {
    position: relative;
    box-sizing: border-box;
    padding: 31px;
    margin: auto;
    background: #fff;
    border: 4px solid #f06;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    p {
      color: #fff;
      background: #f06;
      border-radius: 1000px;
    }

    img {
      margin-bottom: 15px;
    }

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      width: 122px;
      height: 134px;
      content: "";
    }

    &::before, {
      top: 0;
      left: 0;
      background: url(../airconimg/case_star01.png) no-repeat center center/contain;
    }

    &::after {
      right: 0;
      bottom: 50px;
      background: url(../airconimg/case_star02.png) no-repeat center center/contain;
    }
  }
}

.voice {
  // .voice--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  // .voice--item
  &--item {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    padding: 30px;
    background: #fff;
    border: 4px solid #004ba6;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    h3 {
      font-size: var(--fz20);
      font-weight: 800;
      color: #004ba6;
      text-align: center;
    }

    span {
      display: block;
      font-size: var(--fz14);
      font-weight: 800;
      text-align: center;
    }

    p {
      margin-top: -15px;
    }
  }
}


.flow {
  span {
    box-sizing: border-box;
    display: block;
    padding: 10px 0;
    font-size: var(--fz18);
    color: #fff;
    text-align: center;
    background: #0675f3;
  }

  dt {
    font-size: var(--fz20);
    font-weight: 800;
    color: #004ba6;
  }

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1100px;
    margin: auto;
  }

  li {
    background: #fff;
    box-shadow: 6.293px 7.771px 25px 0 rgb(0 42 93 / 40%);
  }

  div {
    padding: 14px;
    text-align: center;
  }

  img {
    margin-bottom: 15px;
  }
}



.contact {
  p {
    margin-bottom: 80px;
    font-size: var(--fz20);
    font-weight: 600;
    text-align: center;
  }

  @include max-mq {
    p {
      font-size: var(--fz16);
    }
  }
}
